<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/_header.css">
    <title>Document</title>
  </head>
  <body>
    <!-- <nav class="nav flex-column">
      <a class="nav-link active" href="#">link</a>
      <a class="nav-link" href="#">link</a>
      <a class="nav-link" href="#">link</a>
      <a class="nav-link disable" href="#">link</a>
    </nav> -->
    <div class="navbar">
    <div class="navbrand">
      <h1>Proyecto de grado</h1>
    </div>
    <div class="nav-items">
      <div class="nav-item"><a href="/">home</a></div>
      <div class="nav-item"><a href="/About">About</a></div>
      <div class="nav-item"><a href="/Explore">Explore</a></div>
      <div class="nav-item"><a href="/New-Revew">New Revew</a></div>
    </div>
      </div> 
  </body>
</html>
